*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
body{
    background-color: black;
}
#header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid rgb(255, 204, 0);
}
#header img{
    height:20vh;
  
}
#flex1{
    float:right;
    flex-basis:20%;
    text-align: center;

  
}
#flex2{
    float:right;
    flex-basis:70%;

    text-align: center;
}
button{
    padding:20px;
    border:1px solid rgb(255, 204, 0);
    color:rgb(255, 204, 0);
    font-weight: bold;
    font-size:20px;
    background-color: black;
    border-radius: 10px;
}
#content{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    color:white;
    height:70vh;
    padding-top:30px;
}
#content div:nth-child(1){
    flex-basis:30%;
    height:100%;
    padding-top:50px;
    text-align: center;
    border-radius: 20px;
    border:2px solid rgb(161, 34, 34);
    border-right: none;
}
#content div:nth-child(2){
    flex-basis:30%;
    background-color: rgb(65, 64, 64);
    border:1px solid rgb(255, 15, 15);
    border-radius: 20px;
    border-left: none;
}
#content div img{
    width:80%;
    border-radius: 20px;
    height:80%;
}
#name{
    text-align: center;
    color:rgb(255, 255, 255);
    font-size:36px;
}
#details{
    text-align: center;
    color:rgb(255, 238, 0);
    font-size:22px;
}
#details h4{
    margin:10px 0px;
    text-decoration: underline;
}
#details p{
    text-align:left;
    margin:20px 20px;
    text-transform: capitalize;
}
@media (max-width:640px)
{
    #header div{
        flex-basis: 100%;
        margin-bottom: 20px;

    }
   
    #content div:nth-child(2),#content div:nth-child(1){
        flex-basis:100%;
    }
}
a{
    color:yellow;
}
@media (min-width:641px) and (max-width:1000px)
{
    #header div{
        flex-basis: 100%;
        margin-bottom: 20px;
   
    }   
    
    #content div:nth-child(2),#content div:nth-child(1){
        flex-basis:100%;
    }
}
